.c_home-divider {
	margin: 40px 0;
  max-width: 800px;
	border-left: 0;
	border-top: 0px $midgrey;
	background-color: $midgrey;

  @media screen and (min-width: 1024px) {
    margin: 40px auto;
  }
}
